


@font-face{
    font-family: 'roboto';
    src:url('../../fonts/Roboto-Regular.ttf') format('ttf');
}


@font-face {
    font-family: 'NotoSansJP';
    src: url('../../fonts/NotoSansJP-Regular.otf');
}


:root {
    --font-primary: 'NotoSansJP';
    --font-secondary: 'NotoSansJP';
    --font-size-sm: 13px;
    --font-size-md: 12px;
    --font-size-lg: 22px;
}
