



.hide {
    display: none;
}


.title-primary {
    font-weight: bold;
}


.title-secondary {
    font-weight: bold;
}


.subtitle-primary {
    font-weight: bold;
}


.button-primary {
    color: var(--main-button-color);
    background: var(--main-bg-button-color);
    padding: 5px 15px;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: all 250ms;
}


.button-secondary {
    color : var(--main-bg-button-color);
}


.button-secondary:hover {
    color : var(--main-color-hover-button);
}


.required-color {
    color: var(--required-color);
}


.text-logo {
    font-size: 18px;
    position: absolute;
    left: 0;
}


.text-center {
    text-align: center;
}


.form-seconday {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: grid;
    gap: .5em;
}


.input-primary {
   min-height: 21px;
   margin-left: 5px;
}


.contenedor-input-label {
    padding: 10px;
}


.td-primary {
    padding: 10px;
}


.td-secondary {
    text-align: center;
}


.anchor-menu-secondary {
    color: var(--main-font-color);	
    font-size:14px;
    width: 100%;
    display: inline-block;
}


.anchor-menu-secondary:hover {
    background:#F2F4F4;
}


h2 {
    font-size: var(--font-size-lg);
}


p {
    font-size: var(--font-size-md);
}