

@charset "utf-8";
@import '../design-system/_design-system.css';
@import 'home.css';
@import '../vendors/all.min.css';



.site{
	
}
.site-header{
	width: 100%;
	height: auto;
	position: relative;
}
.site-main{
	max-width: 1500px;
	margin: 0 auto;
}
.site-footer{
	
}
