


body {
  background: var(--main-bg-color);
}


.main-menu {
    left: -310px;
    transition: all 1.5s ease;
}


.menu-button:checked ~ .main-menu {
    left: 0;
}


.contenedor-logo-search {
    display: grid;
    grid-auto-flow: column;
    padding: 2em 1em;
    background: #fff;
    min-height: 112px;
}


.search {
    display: grid;
    grid-auto-flow: column;
    position: relative;
}


.fa-search {
  position: absolute;
  top: 45%;
  right: 20%;
  color: var(--main-font-color);
  transition: all 100ms ease;
}


.fa-bars {
    position: absolute;
    top: 9%;
    left: 32%;
    font-size: 19px;
    color: var(--main-font-color);
    padding: 8px 5px;
    width: 35px;
    transition: all 100ms ease;
}


.fa-search:hover {
    color: var(--secondary-font-color);
}


.fa-bars:hover {
    border-radius: 100%;
    background: rgba(203, 213, 237, .5);
    text-align: center;
}


.fa-bars:active {
    transform: scale(.9);
}


.user-icon {
    width: 100%;
    height: auto;
    max-width: 80px;
    min-height: 85px;
    border-radius: 100px;
    position: absolute;
    top: -34%;
    right: 8%;
}


.menu-secondary {
    display: none;
    position: absolute;
    left: 54%;
    bottom: -150%;
    background: var(--secondary-bg-color);
    padding: 1em;
    border-radius: 50px;
    transition: all 5ms ease;
}


.ver-perfil:checked ~ .menu-secondary {
    display: block;
}


.container-img-user {
    position: relative;
}


.site-main {
  display: grid;
  gap: 1em;
}


.container-information {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5em;
    padding: 1em;
    margin: 25px;
    background: var(--secondary-bg-color);
    border-radius: 20px;
    font-size: var(--font-size-sm);
    position: absolute;
    left: 3%;
    top: 22%;
}


.main-form {
   display: grid;
   grid-auto-flow: column;
}


[class*="col-"]{
	float:left;
	border:1px solid #000; 
	padding:5px;
}

.contenedor{
  	position:relative;
	margin:auto;
	width:100%;
	height:auto;  
}

.fila{
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	clear:both;
	display:table;
}

/*---Primera seccion--*/

.logo{
	font-size:18px;
	text-align:center;
	font-family:Caveat-Bold;
	line-height:14px;
	padding-left: 2px;
	padding-right:2px;
  position: relative;
}


.logo span{
	color:#48C9B0;
}


input[type="search"]{
	padding: 3px 5px;
	text-align:center;
    max-height: 60px;
    border-radius: 100px;
    border: 1px solid #E3E2E2;
    margin-top: 1em;
}


input[type="search"]:focus{
    border: 1px solid var(--main-bg-button-color);
    box-shadow: 4px 1px var(--main-bg-button-color);
}


/* PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)*/


@media(min-width:1200px){

  .col-lg-12{width:100%;}
  .col-lg-11{width:91.66666666%;}
  .col-lg-10{width:83.33333333%;}
  .col-lg-9{width:75%;}
  .col-lg-8{width:66.66666666%;}
  .col-lg-7{width:58.33333333%;}
  .col-lg-6{width:50%;}
  .col-lg-5{width:41.66666666%;}
  .col-lg-4{width:33.33333333%;}
  .col-lg-3{width:25%;}
  .col-lg-2{width:16.66666666%;}
  .col-lg-1{width:8.33333333%;}
  .col-lg-0{display:none;}

  
}

/*-----------------------------*/

/* PANTALLA DE ESCRITORIO - MEDIUM (md)*/

@media(max-width:1200px) and (min-width:1000){

    .container-form {
        display: grid;
        gap: 1em;
        position: relative;
        top: 7%;
        left: 21%;
    }

}
  
  
/*-----------------------------*/

/* PANTALLA DE TABLET - SMALL (sm)*/

@media(max-width:991px) and (min-width:768px){

  

}

/*-----------------------------*/

/* PANTALLA DE PHONE - EXTRA SMALL (xs)*/

@media(max-width:767px){

  
  
}
