


body {
  background: var(--main-bg-color);
  font-family: var(--font-primary);
}


.main-menu {
    left: -310px;
    transition: all 1.5s ease;
}


.menu-button:checked ~ .main-menu {
    left: 0;
}


.contenedor-logo-search {
    display: grid;
    grid-auto-flow: column;
    padding: 2em 1em;
    background: #fff;
    min-height: 112px;
}


.search {
    display: grid;
    grid-auto-flow: column;
    position: relative;
}


.fa-search {
  position: absolute;
  top: 45%;
  right: 20%;
  color: var(--main-font-color);
  transition: all 100ms ease;
}


.fa-bars {
    position: absolute;
    top: 7%;
    left: 33%;
    font-size: 27px;
    color: var(--main-font-color);
    padding: 8px 5px;
    width: 35px;
    transition: all 100ms ease;
    z-index: 1000;
}


.fa-search:hover {
    color: var(--secondary-font-color);
}


.fa-bars:hover {
    border-radius: 100%;
    background: rgba(203, 213, 237, .5);
    text-align: center;
}


.fa-bars:active {
    transform: scale(.9);
}


.user-icon {
    width: 100%;
    height: auto;
    max-width: 80px;
    min-height: 85px;
    border-radius: 100px;
    position: absolute;
    top: -34%;
    right: 8%;
}


.menu-secondary {
    display: none;
    position: absolute;
    left: 54%;
    bottom: -150%;
    background: var(--secondary-bg-color);
    padding: 1em;
    border-radius: 50px;
    transition: all 5ms ease;
}


.ver-perfil:checked ~ .menu-secondary {
    display: block;
}


.container-img-user {
    position: relative;
}


.site-main {
  display: grid;
  gap: 1em;
}


.container-information {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5em;
    padding: 1em;
    margin: 25px;
    background: var(--secondary-bg-color);
    border-radius: 20px;
    font-size: var(--font-size-sm);
    position: absolute;
    left: 3%;
    top: 22%;
}


.main-form {
   display: grid;
   grid-auto-flow: column;
}


[class*="col-"]{
	float:left;
	border:1px solid #000; 
	padding:5px;
}

.contenedor{
  	position:relative;
	margin:auto;
	width:100%;
	height:auto;  
}

.fila{
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	clear:both;
	display:table;
}

/*---Primera seccion--*/

.logo{
	font-size:18px;
	text-align:center;
	font-family:Caveat-Bold;
	line-height:14px;
	padding-left: 2px;
	padding-right:2px;
  position: relative;
}


.logo span{
	color:#48C9B0;
}


input[type="search"]{
	padding: 3px 5px;
	text-align:center;
    max-height: 60px;
    border-radius: 100px;
    border: 1px solid #E3E2E2;
    margin-top: 1em;
    position: relative;
    left: 45%;
    max-width: 246px;
}


input[type="search"]:focus{
    border: 1px solid var(--main-bg-button-color);
    box-shadow: 4px 1px var(--main-bg-button-color);
}


.container-information-user {
    min-width: 500px;
    left: 22%;
}



/*---Diseño responsive------*/


@media(max-width: 433px) {

    input[type="search"] {
        display: none;
    }


    .form-seconday {
        border-radius: 20px;
        background: white;
        padding: 1em;
    }


    .site-footer {
        margin-top: 52em;
    }


    .input-primary {
        max-width: 200px;
    }

    .container-form-3 {
        position: absolute;
        top: 24%;
        left: 1%;
        margin-bottom: 4em;
        max-width: 351px;
        min-width: 161px;
    }


    .title-primary {
        font-weight: bold;
        font-family: 12px;
    }


    .main-form {
        grid-auto-flow: row;
        gap: 1em;
    }


    .site-footer {
        margin-top: 5em;
    }


    .input-primary {
        max-width: 200px;
    }


    .fa-bars {
        top: 18%;
        left: 4%;
    }


    .main-menu {
        top: 10%;
    }


    .container-form-3 {
        position: absolute;
        top: 28%;
        left: 6%;
        margin-bottom: 4em;
        max-width: 318px;
        min-width: 137px;
    }


    .fa-search {
        display: none !important;
    }


    .container-form {
        display: grid;
        gap: 2em;
        position: relative;
        top: 1%;
        left: -63%;
        padding: 1.5em;
        max-width: 562px;
        max-height: 908px;
        background: transparent;
    }


    .contenedor-input-label {
        grid-auto-flow: row;
        gap: 1em;
    }


    .table-grid {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
    }


    .site-footer {
        text-align: center;
        padding: 2em;
        background: var(--secondary-bg-color);
        margin-top: 56em;
        font-size: 9px;
    }


    .container-information {
        font-size: 8px;
        position: absolute;
        left: 3%;
        top: 22%;
    }

    .form-seconday {
        margin-bottom: 79em;
    }


    .menu-secondary {
        left: 18%;
        bottom: -185%;
    }


    .anchor-menu-secondary {
        font-size: 10px;
    }


    .container-information-user {
        min-width: 290px;
        left: 1%;
    }


    .title-primary {
        font-size: 14px;
    }


}



@media(max-width: 533px) and (min-width: 432px) {

    input[type="search"] {
        display: none;
    }


    .form-seconday {
        border-radius: 20px;
        background: white;
        padding: 1em;
        margin-bottom: 79em;
    }


    .site-footer {
        margin-top: 5em;
    }


    .input-primary {
        max-width: 200px;
    }

    .container-form-3 {
        position: absolute;
        top: 24%;
        left: 1%;
        margin-bottom: 4em;
        max-width: 351px;
        min-width: 161px;
    }


    .title-primary {
        font-weight: bold;
        font-family: 12px;
    }


    .main-form {
        grid-auto-flow: row;
        gap: 1em;
    }


    .site-footer {
        margin-top: 5em;
    }


    .input-primary {
        max-width: 200px;
    }


    .fa-bars {
        top: 18%;
        left: 4%;
    }


    .main-menu {
        top: 10%;
    }


    .container-form-3 {
        position: absolute;
        top: 28%;
        left: 6%;
        margin-bottom: 4em;
        max-width: 318px;
        min-width: 137px;
    }


    .fa-search {
        display: none !important;
    }


    .container-form {
        display: grid;
        gap: 2em;
        position: relative;
        top: 7%;
        left: -35%;
        padding: 1.5em;
        max-width: 562px;
        max-height: 908px;
        background: transparent;
    }


    .contenedor-input-label {
        grid-auto-flow: row;
        gap: 1em;
    }


    .table-grid {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
    }


    .site-footer {
        text-align: center;
        padding: 2em;
        background: var(--secondary-bg-color);
        margin-top: 16em;
    }


    .container-information {
        font-size: 10px;
        position: absolute;
        left: 3%;
        top: 22%;
    }


    .menu-secondary {
        left: 36%;
        bottom: -176%;
    }


    .anchor-menu-secondary {
        font-size: 10px;
    }


    .container-information-user {
        min-width: 300px;
        left: 10%;
    }


    .title-primary {
        font-size: 14px;
    }

}


@media(max-width: 564px) and (min-width: 532px) {

    input[type="search"] {
        display: none;
    }


    .form-seconday {
        border-radius: 20px;
        background: white;
        padding: 1em;
    }


    .container-form-3 {
        position: absolute;
        top: 28%;
        left: 3%;
        margin-bottom: 4em;
    }

    .main-form {
        grid-auto-flow: row;
        gap: 1em;
    }


    .site-footer {
        margin-top: 5em;
    }


    .input-primary {
        max-width: 200px;
    }


    .fa-bars {
        top: 18%;
        left: 4%;
    }


    .main-menu {
        top: 12%;
    }


    .fa-search {
        display: none !important;
    }


    .container-form {
        display: grid;
        gap: 2em;
        position: relative;
        top: 7%;
        left: -21%;
        padding: 1.5em;
        max-width: 562px;
        max-height: 908px;
        background: transparent;
    }


    .contenedor-input-label {
        grid-auto-flow: row;
        gap: 1em;
    }


    .table-grid {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
    }


    .site-footer {
        text-align: center;
        padding: 2em;
        background: var(--secondary-bg-color);
        margin-top: 16em;
    }


    .container-information {
        font-size: 10px;
        position: absolute;
        left: 3%;
        top: 22%;
    }


    .menu-secondary {
        left: 18%;
        bottom: -178%;
    }


    .container-information-user {
        min-width: 400px;
        left: 10%;
    }


    .title-primary {
        font-size: 14px;
    }

}


@media(max-width: 612px) and (min-width: 563px) {

    input[type="search"] {
        display: none;
    }


    .form-seconday {
        border-radius: 20px;
        background: white;
        padding: 1em;
    }


    .container-form-3 {
        position: absolute;
        top: 21%;
        left: 10%;
    }

    .main-menu {
        top: 11%;
    }


    .fa-bars {
        top: 18%;
        left: 4%;
    }


    .main-menu {
        top: 10%;
    }


    .fa-search {
        display: none !important;
    }


    .container-form {
        display: grid;
        gap: 2em;
        position: relative;
        top: 7%;
        left: -21%;
        padding: 1.5em;
        max-width: 562px;
        max-height: 908px;
        background: transparent;
    }


    .contenedor-input-label {
        grid-auto-flow: row;
        gap: 1em;
    }


    .table-grid {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
    }


    .site-footer {
        text-align: center;
        padding: 2em;
        background: var(--secondary-bg-color);
        margin-top: 16em;
    }


    .container-information {
        font-size: 10px;
        position: absolute;
        left: 3%;
        top: 22%;
    }


    .menu-secondary {
        left: 40%;
        bottom: -182%;
    }


    .anchor-menu-secondary {
        font-size: 12px;
    }


    .container-information-user {
        min-width: 400px;
        left: 10%;
    }


    .title-primary {
        font-size: 14px;
    }


    .fa-search {
        top: 45%;
        right: 20%;
    }

}


@media(max-width:776px) and (min-width: 612px) {

    input[type="search"] {
        display: none;
    }


    .form-seconday {
        border-radius: 20px;
        background: white;
        padding: 1em;
    }


    .container-form-3 {
        position: absolute;
        top: 21%;
        left: 17%;
    }

    .main-menu {
        top: 11%;
    }


    .fa-search {
        display: none !important;
    }


    .container-form {
        display: grid;
        gap: 2em;
        position: relative;
        top: 7%;
        left: -21%;
        padding: 1.5em;
        max-width: 562px;
        max-height: 908px;
        background: transparent;
    }


    .container-information {
        left: 17%;
        top: 21%;
    }


    .contenedor-input-label {
        grid-auto-flow: row;
        gap: 1em;
    }


    .table-grid {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 5em;
    }


    .site-footer {
        text-align: center;
        padding: 2em;
        background: var(--secondary-bg-color);
        margin-top: 23em;
    }


    .fa-bars {
        top: 11%;
        left: 2%;
    }


    .anchor-menu-secondary {
        font-size: 12px;
    }


    .container-information-user {
        min-width: 500px;
        left: 9%;
    }

    .title-primary {
        font-size: 16px;
    }

}


@media(max-width: 1055px) and (min-width: 1000px) {

    .container-form {
        top: 7%;
        left: 2%;
    }

    .main-menu {
        top: -1%;
    }


    .fa-search {
        top: 45%;
        right: 16%;
    }
}


@media(max-width:1200px) and (min-width:1054px){

    .container-form {
        top: 7%;
        left: 21%;
    }

    .main-menu {
        top: 11%;
    }


    .fa-search {
        top: 45%;
        right: 16%;
    }

}
  
  