

.container-form {
    display: grid;
    gap: 2em;
    position: relative;
    top: 7%;
    left: 4%;
    background: #fff;
    border-radius: 20px;
    padding: 2.5em;
    max-width: 500px;
    max-height: 699px;
    margin-bottom: 6em;
}


.container-form-3 {
    display: grid;
    gap: 2em;
    position: relative;
    top: 21%;
    left: 0;
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 2em;
    min-width: 500px;
}



.input-primary:focus {
    border: 1px solid var(--main-bg-button-color);
    box-shadow: 4px 1px var(--main-bg-button-color);
}

.button-primary:hover {
    opacity: .4;
}

.button-primary:active {
    opacity: 1;
}


.input-price {
    max-width: 90px;
}


.input-cantidad {
   max-width: 80px;
}