

/*<!--SEGUNDA SECCIÓN------------->*/

/*---------INICIO DEL MENU-----*/

nav{
    width:100%;
    height:100%;
    background:#FFF;
    float:left;
    padding:12px 0px 12px 0px;
    position:relative;
    z-index:1000;
    left:-300px;
    min-width: 200px;
    max-width: 245px;
    border-radius:8px;
 }
  
 nav li.main{
    font-size:11px;
    padding:12px 18px;
    color:#909497;  
 }
 
 
 nav li a{
     display:inline-block;
   padding:12px 15px 12px 22px;
   width:100%;
   color:#5F6A6A ;	
     font-size:14px;
 }
 
 nav li a:hover{
     background:#F2F4F4;
 }
 
 nav li a .fa-anchor{
     margin-right:10px;
 }
 
 nav li a .fa-address-card{
     margin-right:10px;
 }
 
 nav li a .fa-border-all{
     margin-right:10px; 
 }
 
 nav li a .fa-warehouse{
     margin-right:10px;
 }
 
 nav li a .fa-shopping-cart{
     margin-right:10px;
 }
 
 nav li a .fa-user{
     margin-right:10px;
 }
  
 nav li a .fa-users{
     margin-right:10px;
 }
 
 nav li a .fa-file-invoice{
      margin-right:10px;
 }
 
 nav li a .fa-file-invoice-dollar{
     margin-right:10px; 
 }
 
 nav li a .fa-hand-holding-usd{
      margin-right:10px;
 }
 
 nav li a .fa-chevron-right{
     float:right;
     clear:both;
   font-size:10px;
   margin-top:6px;
   margin-left: 10px;
 }
 
 /*---ALTERNACIÓN DE ICONOS NAV---*/
 
 nav li#categorias:hover .fa-chevron-right{
     display:none;
 }
 
 nav li#categorias:hover .fa-chevron-down{
   display:inherit;
   margin-top:4px;
 }
 
 /*---------------------------------*/
 
 
 nav li a .fa-chevron-down{
     float:right;
     clear:both;
     font-size:10px;
     display:none;
 }
 
 nav ul li ul{
    display:none; 
    position:absolute;
    min-width:140px;
 }
 
 nav ul li ul a{
     padding-left:40px;
 }
 
 nav ul li:hover > ul{
   display:block;
   position:relative;
 }
 
 /*---------FIN DEL MENU-----*/
 