


.main-menu{
    width:100%;
    height:100%;
    background:#FFF;
    float:left;
    padding:12px 0px 12px 0px;
    position:relative;
    z-index:1000;
    left:-300px;
    min-width: 200px;
    max-width: 245px;
    min-height: 400px;
    border-radius:8px;
}
  

.anchor-menu{
    display:inline-block;
    padding:12px 15px 12px 22px;
    width:100%;
    color: var(--main-font-color);	
    font-size:14px;
}
 

.anchor-menu:hover{
    background:#F2F4F4;
}
 

.fa-anchor{
    margin-right:10px;
}
 

.fa-address-card{
    margin-right:10px;
}
 

.fa-border-all{
    margin-right:10px; 
}
 

.fa-warehouse{
    margin-right:10px;
}
 

.fa-shopping-cart{
    margin-right:10px;
 }
 

.fa-user{
    margin-right:10px;
 }
  

.fa-users{
    margin-right:10px;
}
 

.fa-file-invoice{
    margin-right:10px;
}
 

.fa-file-invoice-dollar{
    margin-right:10px; 
}
 

.fa-hand-holding-usd{
    margin-right:10px;
}
 
 
.fa-chevron-right{
    float:right;
    clear:both;
    font-size:10px;
    margin-top:6px;
    margin-left: 10px;
}


.fa-chevron-down{
    float:right;
    clear:both;
    font-size:10px;
    visibility: hidden;
}
 
 
.despliegue:hover .fa-chevron-right{
    display:none;
}
 
 
.despliegue:hover .fa-chevron-down{
    visibility: visible;
    margin-top:4px;
}
 
 
nav ul li ul{
    display:none; 
    position:absolute;
    min-width:140px;
    transition: all 1s ease-in-out;
}
 

.anchor-menu{
    padding-left:40px;
}
 

.ul-menu li:hover > ul{
    display:block;
    position:relative;
}
 

 