


.td-primary {
    position: relative;
}


.td-inf-encargado {
    background: var(--main-bg-button-color);
}


.td-inf-encargado-name {
    border-radius: 10px 0 0 10px;
    width: 100%;
    min-width: 122px;
}


.td-inf-encargado-ci {
    border-radius: 0 10px 10px 0;
}


.fa-edit {
    position: absolute;
    right: 20%;
    font-size: 9px;
}


.fa-times {
    position: absolute;
    right: 6%;
    font-size: 9px;

}


.table-grid {
    display: grid;
    grid-auto-flow: column;
}


.table-grid-column {
   display: grid;
   gap: 1em;
   padding: 6px;
}


.celda-relative {
    position: relative;
    padding: 10px;
}






