.table-primary {
    width: 100%;
    background: var(--secondary-bg-color);
    display: grid;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 10px;
    border-radius: 8px;
}



.button-primary:hover {
    opacity: .4;
}
