.table-primary {
    width: auto;
    background: var(--secondary-bg-color);
    display: grid;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 10px;
    border-radius: 8px;
}


.table-gestion {
    width: 100%;
}


.table-categorias {
    width: 50%;
}


.table-productos {
    display: grid;
}


.td-primary {
    position: relative;
}


.td-inf-encargado {
    background: var(--main-bg-button-color);
}


.td-inf-encargado-name {
    border-radius: 10px 0 0 10px;
}


.td-inf-encargado-ci {
    border-radius: 0 10px 10px 0;
}


.fa-edit {
    position: absolute;
    right: 20%;
    font-size: 12px;
}


.fa-times {
    position: absolute;
    right: 9%;
    font-size: 12px;

}






